.contextMenu-HLZMGh {
  .theme-dark &, &.theme-dark {
    background-color: lighten($theme-dark, 7.5%);
    border-color: lighten($theme-dark, 7.5%);
  }
  .theme-light &, &.theme-light {
    background-color: darken($theme-light, 7.5%);
    border-color: darken($theme-light, 7.5%);
  }

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2) !important;
  width: 210px;
  padding: 8px 0;
  border: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  z-index: 3005;
  -webkit-app-region: no-drag;

  .scroller-2FKFPG {
    margin: -8px 0;
    padding: 8px 0;
  }
}

.item-1Yvehc {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  background-color: transparent;
  background-image: none !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 32px;
  margin: 0;
  padding: 8px 12px 8px (12px + 16px + 12px);
  border-radius: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &:hover {
    .theme-dark & {
      color: $theme-light-bg;
      background-color: $theme-dark-hover;
    }
    .theme-light & {
      color: $theme-dark-bg;
      background-color: $theme-light-hover;
    }
  }
  &:active {
    .theme-dark & {
      background-color: $theme-dark-active;
    }
    .theme-light & {
      background-color: $theme-light-active;
    }
  }

  .contextMenu-HLZMGh .contextMenu-HLZMGh &:not(.itemToggle-S7XGOQ) {
    padding-left: 12px;
  }

  &.disabled-2xniQf {
    .theme-dark & {
      color: $theme-dark-blurb;
    }
    .theme-light & {
      color: $theme-light-blurb;
    }

    pointer-events: none;
  }

  &::before {
    opacity: .45;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
.itemSubMenu-1vN_Yn {
  padding-right: 36px !important;

  &:hover {
    background-color: transparent !important;

    &::before {
      background-color: $accent-color;
    }
  }
  &:active {
    .theme-dark & {
      background-color: $theme-dark-hover;
    }
    .theme-light & {
      background-color: $theme-light-hover;
    }
  }

  &::after {
    font-family: 'Segoe MDL2 Assets';
    font-size: 12px;
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 13px;
  }
}
.itemToggle-S7XGOQ {
  .checkbox {
    background-color: transparent;
    height: 16px;
    width: 16px;
    margin: 0;
    border: 0;
    border-radius: 0;
    position: absolute;
    left: 12px;
  }
  .checkbox-inner {
    height: inherit;
    width: inherit;

    span::after, &::before, &::after {
      display: none !important;
    }

    span {
      background-color: transparent !important;
      display: block;
      height: inherit;
      width: inherit;
      border: 0;
      border-radius: 0;
      position: unset;
    }
    span::before {
      .theme-dark & {
        color: $theme-light-bg;
      }
      .theme-light & {
        color: $theme-dark-bg;
      }

      font-family: 'Segoe MDL2 Assets';
      font-size: 14px;
      display: none;
      align-items: center;
      justify-content: center;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
    }
    input:checked + span::before {
      display: flex;
    }
  }
}
.itemSlider-FZeYw0 {
  background-color: transparent !important;
}

.itemGroup-1tL0uz {
  border-top: 0 !important;
  position: relative;

  &:not(:first-child):not(:empty),
  &:not(:empty) ~ &:empty + &:not(:empty) {
    margin-top: 4px;
    padding-top: 1px + 4px;

    &::before {
      .theme-dark & {
        border-top-color: $theme-dark-outline;
      }
      .theme-light & {
        border-top-color: $theme-light-outline;
      }

      content: '';
      border-top: 1px solid transparent;
      position: absolute;
      top: 0;
      left: 12px;
      right: 12px;
    }
  }
  &:empty + &:not(:empty) {
    margin-top: 0;
    padding-top: 0;

    &::before {
      border-top-width: 0;
    }
  }
}
