.tooltip {
  color: #fff;
  background-color: lighten($theme-dark, 5%) !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  pointer-events: none;
  max-width: 190px;
  margin: 0 !important;
  padding: 5px 10px;
  border: 1px solid $theme-dark-outline;
  border-radius: 0;
  box-sizing: content-box;

  &::before, &::after {
    display: none;
  }
}
