/*//META{"name":"FluentDiscord","description":"An MDL2/Fluent Design inspired theme for Discord.","author":"intrnl","version":"1","source":"https://github.com/intrnl/FluentDiscord"}*//**/
@import 'https://intrnl.github.io/FluentDiscord/bdv1/FluentDiscord.min.theme.css';
/* Customizable code */
/*
  Visit the link below to see the available color swatches from Windows 10.
  https://git.io/fNLVP
*/
:root {
  --accent-color: #0078d7;
  --titlebar-color: #4c4a48;
}

/* End of customizable code */
/*
  FluentDiscord is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  FluentDiscord is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with FluentDiscord.  If not, see <https://www.gnu.org/licenses/>.
*/