@font-face {
  font-family: 'Segoe UI Semilight';
  src: local('Segoe UI Semilight'), local('SegoeUI-Semilight'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-Semilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), local('SegoeUI'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Semibold'), local('SegoeUI-Semibold'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Emoji';
  src: local('Segoe UI Emoji'), local('SegoeUIEmoji'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUIEmoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Semibold Italic'), local('SegoeUI-SemiboldItalic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe MDL2 Assets';
  src: local('Segoe MDL2 Assets'), local('SegoeMDL2Assets'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeMDL2Assets.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Light Italic'), local('SegoeUI-LightItalic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Black Italic'), local('SegoeUIBlack-Italic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUIBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Black'), local('SegoeUIBlack'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUIBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Semilight';
  src: local('Segoe UI Semilight Italic'), local('SegoeUI-SemilightItalic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-SemilightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
