$i18n-home: (
  bg: 'У дома',
  cs: 'Domov',
  da: 'Hjem',
  de: 'Zuhause',
  el: 'Σπίτι',
  en-GB: 'Home',
  en-US: 'Home',
  es-ES: 'Casa',
  fi: 'Koti',
  fr: 'Accueil',
  hr: 'Dom',
  hu: 'itthon',
  it: 'Casa',
  ja: '家',
  ko: '집',
  lt: 'Namai',
  nl: 'Huis',
  no: 'Hjem',
  pl: 'Dom',
  pt-BR: 'Casa',
  ro: 'Acasă',
  ru: 'Главная',
  sv-SE: 'Hem',
  tr: 'Ev',
  uk: 'будинки',
  zh-CN: '家',
  zh-TW: '家',
);

$i18n-colorblind-warning: (
  bg: 'Далтонист е активиран режим, някои неща не може да изглеждат правилни.',
  cs: 'Barvoslepý režim povolen, možná některé věci nevypadají správné.',
  da: 'Farveblind tilstand er aktiveret, kan nogle ting ikke ser ordentlig.',
  de: 'Farbenblind Modus aktiviert ist, können einige Dinge nicht so aus, richtig.',
  el: 'Αχρωματοψία λειτουργία είναι ενεργοποιημένη, μερικά πράγματα δεν μπορεί να μοιάζει σωστή.',
  en-GB: 'Color blind mode enabled, some things might not look proper.',
  en-US: 'Color blind mode enabled, some things might not look proper.',
  es-ES: 'Modo de color ciego permitido, algunas cosas podrían no parecer adecuado.',
  fi: 'Värisokea tila käytössä, jotkut asiat ei näytä ehkä asianmukaista.',
  fr: 'Mode couleur aveugle activé, certaines choses pourraient ne pas regarder bon.',
  hr: 'Boja omogućen slijepo modu, neke stvari možda neće izgledati pravilno.',
  hu: 'Színvak mód engedélyezve van, néhány dolgot talán nem tűnik megfelelő.',
  it: 'Modo colore cieco attivata, alcune cose non potrebbe apparire corretto.',
  ja: '有効なカラーブラインドモード、いくつかのものが適切見えないかもしれません。',
  ko: '활성화 된 블라인드 모드를 색상, 몇 가지 적절한 보이지 않을 수 있습니다.',
  lt: 'Daltonizmu režimas įgalintas, kai kurie dalykai gali ne atrodo tinkama.',
  nl: 'Kleurenblind modus is ingeschakeld, kunnen sommige dingen niet kijken gepast.',
  no: 'Fargeblinde modus er aktivert, kan noen ting ikke ser riktig.',
  pl: 'Tryb koloru blind włączone, niektóre rzeczy nie może wyglądać właściwa.',
  pt-BR: 'Colorir modo cego habilitado, algumas coisas podem não parecer adequado.',
  ro: 'Modul de culoare orb activat, unele lucruri nu s-ar putea uita propriu-zis.',
  ru: 'Дальтоник режим включен, некоторые вещи не могут выглядеть правильными.',
  sv-SE: 'Färgblinda aktiverat, kanske vissa saker inte ser korrekt.',
  tr: 'etkin kör modunu Color, bazı şeyler doğru görünmeyebilir.',
  uk: 'Дальтонік режим включений, деякі речі не можуть виглядати правильними.',
  zh-CN: '颜色启用盲模式，有些东西可能看起来不正确。',
  zh-TW: '顏色啟用盲模式，有些東西可能看起來不正確。'
);
