
$accent-color: rgb(0, 99, 177) !default;

$theme-dark: rgb(31, 31, 31);
$theme-dark-hover: rgb(53, 53, 53);
$theme-dark-active: rgb(76, 74, 72);

$guilds-height: 48px;
$guilds-width: 48px;
$guilds-separator: 8px;