.activityFeed-28jde9 {
  .theme-dark & {
    background-color: $theme-dark-bg;
  }
  .theme-light & {
    background-color: $theme-light-bg;
  }

  position: relative;
  overflow-y: auto;

  .headerBar-UHpsPw {
    height: auto;
    padding: 20px 20px 10px 20px;

    .flex-1xMQg5 {
      display: none;
    }
  }
  .title-1aVOXw {
    font-size: 21px;
    font-weight: normal;
  }
}

.feed-1o0xmF {
  overflow-y: visible;
}