.channels-Ie2l6A {
  .theme-dark & {
    background-color: $theme-dark;
  }

  z-index: 4;

  .scroller-2FKFPG {
    overflow-y: auto;
  }
}
.container-PNkimc {
  background-color: transparent;
}

// Home header
.private-channels {
  .search-bar {
    box-shadow: 0 0;
    display: flex;
    justify-content: flex-end;
    height: 48px;
    padding: 0 0 0 12px;

    &::before {
      color: #fff;
      font-size: 16px;
      content: 'Home';
      margin-right: auto;
    }
  }
  .search-bar .search-bar-inner {
    .theme-dark & {
      &:hover {
        background-color: $theme-dark-hover;
      }
      &:active {
        background-color: $theme-dark-active;
      }
    }

    background-color: transparent;
    flex: 0;
    height: 100%;
    width: 48px;
    padding: 0;
    border: 0;
    border-radius: 0;
    position: relative;

    &::before {
      color: #fff;
      font-family: 'Segoe MDL2 Assets';
      font-size: 16px;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
    }

    input {
      font-size: 0;
      cursor: default;
      flex: 1;
      height: inherit;
      min-width: unset !important;
      width: inherit;
      padding: 0;
    }
  }
}

// DM channel stuff
.private-channels {
  header {
    $height: 25px;

    color: #72767d;
    opacity: 1;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    height: $height;
    margin-top: 42px - $height;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .channel {
    .theme-dark & {
      &:hover {
        background-color: $theme-dark-hover;
      }
      &:active {
        background-color: $theme-dark-active;
      }
    }

    cursor: default;
    height: 42px;
    box-sizing: border-box;

    &.selected::before {
      background-color: $accent-color;
      opacity: .55;
      content: '';
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    a {
      background-color: transparent !important;
      cursor: default;
      height: 100%;
      margin: 0;
      padding: 8px 12px;
      z-index: 5;
    }
    svg {
      margin-right: 12px;
      z-index: 5;
    }
    .wrapper-2F3Zv8 {
      margin-right: 12px;
      z-index: 5;
    }
    .channel-name {
      z-index: 5;
    }
    .close {
      z-index: 5;
    }
    .badge {
      z-index: 5;
    }
  }
}

// Server header
.container-2Rl01u {
  pointer-events: none;
}
.header-2o-2hj {
  .theme-dark & {
    &:hover::after {
      background-color: $theme-dark-hover;
    }
    &:active::after {
      background-color: $theme-dark-active;
    }
  }

  background-color: transparent !important;
  box-shadow: 0 0;
  transition: none;
  cursor: default;
  pointer-events: none;
  padding: 0 0 0 12px;

  &::after {
    color: #fff;
    font-family: 'Segoe MDL2 Assets';
    font-size: 16px;
    pointer-events: all;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
  }

  svg {
    display: none;
  }
}

// Channel
.wrapper-KpKNwI {
  .theme-dark & {
    &:hover {
      background-color: $theme-dark-hover;
    }
    &:active {
      background-color: $theme-dark-active;
    }
  }
  
  cursor: default;
  height: 34px;
  position: relative;

  &::after {
    transform: translateY(-50%);
    content: '';
    width: 5px;
    margin: 0;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: 0;
  }
}
.content-20Aix8 {
  background-color: transparent;
  cursor: default;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 12px;
  border-radius: 0;

  & > * {
    z-index: 6;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
  }

  &.contentSelectedText-3wUhMi, &.contentSelectedVoice-1WDIBM {
    &::before {
      background-color: $accent-color;
      opacity: .55;
      content: '';
    }
  }

  .marginReset-3RfdVe:last-child:not(:empty) {
    margin-left: 12px;
  }
}
.icon-sxakjD {
  margin-right: 8px;
}
.name-3M0b8v {
  line-height: normal;
  margin-top: -2px;
}

// Unread dot
.unread-1Dp-OI {
  background-color: $accent-color;
  transform: translateY(-50%);
  opacity: .55;
  height: 8px;
  width: 5px;
  margin: 0;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 0;
}

// Unread bar
.container-35XQWE {
  z-index: 10;
}
.unreadBar-17qm9c {
  box-shadow: 0 0;
}

// Categories
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
  $height: 25px;

  .theme-dark & {
    &:hover {
      background-color: $theme-dark-hover;
    }
    &:active {
      background-color: $theme-dark-active;
    }
  }
  
  transition: none;
  height: $height;
  margin-top: 48px - $height;
  padding: 0 12px;
  box-sizing: border-box;
}

.wrapperCollapsed-3Fbxl6, .wrapperDefault-10Jfvz, .wrapperHovered-28fu1D, .wrapperHoveredCollapsed-1PADEo, .wrapperMuted-3KeA2M, .wrapperUnread-1JPWj3 {
  background-color: transparent;
  cursor: default;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  transition: none;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.iconTransition-2pOJ7l {
  width: 16px;
  margin-right: 8px;
  position: unset;
  top: unset;
  left: unset;
}

// Notices
.channelNotice-1-XFjC {
  .theme-dark & {
    background-color: rgba(#fff, .04);
  }
}
.close-relY5R {
  .theme-dark & {
    &:hover {
      background-color: $theme-dark-hover;
    }
    &:active {
      background-color: $theme-dark-active;
    }

    &::before {
      color: #fff;
    }
  }
  
  background-image: none;
  opacity: 1;
  cursor: default;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  right: 0;

  &::before {
    font-family: 'Segoe MDL2 Assets';
    font-size: 16px;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
.message-3SOT5P {
  .theme-dark & {
    color: #999;
  }
}
.btn-11C5_u {
  .theme-dark & {
    background-color: lighten($theme-dark, 10%);

    &:hover {
      border-color: $theme-dark-active;
    }
    &:active {
      background-color: $theme-dark-active;
    }
  }
  
  cursor: default;
  height: 33px;
  padding: 0 14px;
  border: 2px solid transparent;
  border-radius: 0;
  box-sizing: border-box;

  &:active {
    border-color: transparent;
  }
}
