// No channel screen
.noChannel-Z1DQK7 {
  .theme-dark & {
    background-color: $theme-dark-bg;
  }
  .theme-light & {
    background-color: $theme-light-bg;
  }
}

.image-1GzsFd {
  display: none;
}

.title-2BxgL2 {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  font-size: 1.35rem;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  margin-bottom: 1.5rem;
}
.text-GwUZgS {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  margin-top: 0;
}

// Main chat
.title-2BxgL2 {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }
}
.text-GwUZgS {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}

.chat-3bRxxu {
  .theme-dark & {
    background-color: $theme-dark-bg;
  }
  .theme-light & {
    background-color: $theme-light-bg;
  }

  form {
    background-color: transparent !important;
  }
}
.content-yTz4x3 {
  background-color: transparent !important;
}

.messagesWrapper-3lZDfY {
  background-color: transparent !important;
}
.messages-3amgkR {
  padding-bottom: 10px;
}

.typing-2GQL18 {
  background-color: transparent !important;
}


.containerCozy-jafyvG {
  padding: 10px 0;
}
.messageGroupWrapperOffsetCorrection-phOU-k {
  margin: -10px 0 -10px -20px;
}

.markup-2BOw-j {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  pre {
    border: 0;
    border-radius: 0;
  }
  code, code.inline {
    .theme-dark & {
      background-color: $theme-dark;
      color: $theme-dark-blurb;
    }
    .theme-light & {
      background-color: $theme-light;
      color: $theme-light-blurb;
    }

    border: 0;
    border-radius: 0;
  }
}
.username-_4ZSMR {
  backface-visibility: hidden;

  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }
}
.timestampCozy-2hLAPV {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}

.divider-32i8lo {
  display: none;
}

.divider-3gKybi {
  text-transform: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  margin: 15px 20px 8px 20px;

  & + & {
    display: flex;
  }

  &::before, div {
    display: none;
  }

  &.dividerRed-MKoLlr {
    text-transform: none;

    &::after {
      background-color: $accent-color;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
  }

  span {
    .theme-dark & {
      color: $theme-dark-blurb !important;
    }
    .theme-light & {
      color: $theme-light-blurb !important;
    }

    background-color: transparent !important;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: normal;
    margin-right: 10px;
    padding: 0;
    border-radius: 0;
  }
}

.dividerContent-2L12VI {
  &::before, &::after {
    display: none;
  }
}


.message-2qRu38 {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }

  box-shadow: 0 0 !important;
  border-radius: 0;
}

// Local bot
.isLocalBot-38G0P0 {
  .theme-dark &, .theme-light & {
    background-image: none;
    box-shadow: none;
    border-color: transparent;
  }
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  border: 0;

  &.containerCozy-jafyvG {
    .theme-dark &, .theme-light & {
      padding: 10px 0;
    }
  }
}

// Member list
.membersWrap-2h-GB4 {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }

  margin-top: -48px;
  padding-top: 48px;
}
.members-1998pB {
  background-color: transparent !important;
}

.member-3W1lQa {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  cursor: default;
  margin: 0;
  padding: 8px 15px;
  border-radius: 0;
  position: relative;

  &::before {
    opacity: .55;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover {
    .theme-dark & {
      background-color: $theme-dark-hover;
    }
    .theme-light & {
      background-color: $theme-light-hover;
    }
  }
  &:active {
    .theme-dark & {
      background-color: $theme-dark-active;
    }
    .theme-light & {
      background-color: $theme-light-active;
    }
  }

  &.popout-open {
    &::before {
      background-color: $accent-color;
    }
  }
}

.content-OzHfo4 {
  background-color: transparent !important;
  color: currentColor !important;
  padding: 0;
  z-index: 3;
}
.memberInner-2CPc3V {
  width: auto;
  max-width: 150px;
}

.nameTag-3p0yK- {
  line-height: normal;
}
.username-1cB_5E {
  text-overflow: ellipsis;

  .popout-open & {
    font-weight: 500;

    .theme-dark & {
      color: $theme-light-bg !important;
    }
    .theme-light & {
      color: $theme-dark-bg !important;
    }
  }
}
.ownerIcon-uZ6mE7 {
  path {
    .popout-open & {
      .theme-dark & {
        fill: $theme-light-bg;
      }
      .theme-light & {
        fill: $theme-dark-bg;
      }
    }
  }
}
.activity-1IYsbk {
  line-height: normal;

  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  .popout-open & {
    .theme-dark & {
      color: $theme-light-bg;
    }
    .theme-light & {
      color: $theme-dark-bg;
    }
  }
}
.activityIconForeground-qYIPPg {
  fill: currentColor !important;
}


// Title bar
.title-3qD0b- {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding-right: 0;
}

.channelName-3stJzi, .groupDM-3qU0Ks .channelName-3stJzi, .groupDMManaged-1GyXtq .channelName-3stJzi, .input-autosize-input, .input-autosize-input:focus {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }
}
.channelIcon-MsmKOO {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}

.topic-2QX7LI {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}
