body {
  background-color: $theme-dark-bg;
}
#app-mount {
  background-color: transparent;
}
.app-19_DXt {
  border: 1px solid $titlebar-border-color;
  border-top: 0;

  .hidden-by-NativeTitlebar & { border: 0; }
}
.base-3dtUhz {
  border-radius: 0;
}

// BDv1 blue
.bd-blue {
  --accent-color: #3e82e5;
}
