.guildsWrapper-5TJh6A {
  .theme-dark & {
    background-color: $theme-dark-bg;
  }
  .theme-light & {
    background-color: $theme-light-bg;
  }

  width: 48px;

  .scroller-wrap {
    width: 100%;
  }
}

.guilds-1q_RqH {
  display: block;
  padding: 0;
  padding-bottom: $guilds-separator;

  &::-webkit-scrollbar {
    display: none;
  }
}

.friendsOnline-_wi_fM {
  display: none;
}

.guildSeparator-1X4GQ1 {
  height: 0;
  width: 0;
  margin-bottom: $guilds-separator;

  &::after {
    display: none;
  }
}

.guild-1EfMGQ {
  height: $guilds-height;
  width: $guilds-width;

  & + & {
    margin-top: 0;
  }

  &.guildPlaceholder-1ioaid {
    .theme-dark & {
      &::after {
        background-color: lighten($theme-dark, 10%);
      }
    }
    .theme-light & {
      &::after {
        background-color: lighten($theme-light, 10%);
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;

    &::after {
      content: '';
      height: $guilds-height - (13 * 2);
      width: $guilds-width - (13 * 2);
      margin: 13px;
      border-radius: 50%;
    }
  }

  .wrapper-232cHJ {
    box-shadow: 0 0;
    transform: translateY(-72%) translateX(-72%);
    font-size: 0;
    line-height: 0;
    height: 12px;
    width: 12px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 72%;
    bottom: unset;
    left: 72%;
    right: unset;
  }

  &::before, &.unread-qLkInr::before, &.selected-ML3OIq::before {
    background-color: transparent;
    transform: translateY(-50%);
    transition: none;
    pointer-events: none;
    content: '';
    width: 5px;
    margin-top: 0;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
  }
  &.unread-qLkInr::before, .stop-animations &.unread-qLkInr.selected-ML3OIq::before, .publicServersOpen &.unread-qLkInr.selected-ML3OIq::before {
    background-color: $accent-color !important;
    opacity: .55;
    display: block;
    height: 8px;
  }
  &.selected-ML3OIq::before {
    background-color: $accent-color !important;
    opacity: 1;
    display: block;
    height: 25px;

    .stop-animations &, .publicServersOpen & {
      display: none;
    }
  }

  &.audio-3vVhBi, &.video-15yGu3 {
    .guildInner-3DSoA4 {
      .icon-3o6xvg, .avatar-small:not(.wrapper-2F3Zv8)::after {
        display: none;
      }
      &::after {
        .theme-dark & {
          color: #ffffff;
        }
        .theme-light & {
          color: #000000;
        }

        background-image: none;
        background-color: transparent !important;
        font-family: 'Segoe MDL2 Assets';
        font-size: 16px;
        height: 100%;
        width: 100%;
        border-radius: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  &.audio-3vVhBi {
    .guildInner-3DSoA4::after {
      content: '';
    }
  }
  &.video-15yGu3 {
    .guildInner-3DSoA4::after {
      content: '';
    }
  }
}

.guild-1EfMGQ .guildInner-3DSoA4 {
  background-color: transparent !important;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $guilds-height;
  width: $guilds-width;
  border-radius: 0 !important;

  a {
    .theme-dark & {
      color: #ffffff;

      &:hover {
        background-color: $theme-dark-hover;
      }
      &:active {
        background-color: $theme-dark-active;
      }
    }
    .theme-light & {
      color: #000000;

      &:hover {
        background-color: $theme-light-hover;
      }
      &:active {
        background-color: $theme-light-active;
      }
    }

    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .icon-3o6xvg {
    color: inherit;
    background-size: 0;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 1px;

    &::after {
      background-image: inherit;
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }
    &.noIcon-1a_FrS::after {
      display: none;
    }

    &.noIcon-1a_FrS {
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 5px;
      box-sizing: border-box;
      overflow: hidden;

      @for $i from 10 through 20 {
        &[style='font-size: #{$i}px;'] {
          font-size: $i * 0.8px !important;
        }
      }
    }
  }

  // Discord Home
  a[draggable='false'][class] {
    &::before {
      font-family: 'Segoe MDL2 Assets';
      font-size: 16px;
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    svg {
      display: none;
    }
  }
}

.dms-rcsEnV {
  margin-top: $guilds-separator;
  margin-bottom: 0;

  &:empty {
    margin-top: 0;
  }

  .wrapper-2F3Zv8 {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .avatar-small:not(.wrapper-2F3Zv8) {
    background-size: 0;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0;

    &::after {
      background-image: inherit;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }
  }
}

.guildsAdd-21_IdK {
  .theme-dark & {
    background-color: transparent;
    
    &:hover {
      background-color: $theme-dark-hover;
    }
    &:active {
      background-color: $theme-dark-active;
    }
  }
  .theme-light & {
    background-color: transparent;

    &:hover {
      background-color: $theme-light-hover;
    }
    &:active {
      background-color: $theme-light-active;
    }
  }

  opacity: 1;
  transition: none;
  cursor: default;
  border: 0;
  border-radius: 0;

  &::before {
    .theme-dark & {
      color: #ffffff;
    }
    .theme-light & {
      color: #000000;
    }

    font-family: 'Segoe MDL2 Assets';
    font-size: 16px;
    font-weight: normal;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
.guildsAddInner-1KMFy- {
  display: none;
}

.guildsError-3cFMtY {
  .theme-dark & {
    &:hover {
      background-color: $theme-dark-hover;
    }
    &:active {
      background-color: $theme-dark-active;
    }
  }
  .theme-light & {
    &:hover {
      background-color: $theme-light-hover;
    }
    &:active {
      background-color: $theme-light-active;
    }
  }

  background-color: transparent;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  cursor: default;
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 0;

  &::before {
    .theme-dark & {
      color: #ffffff;
    }
    .theme-light & {
      color: #000000;
    }

    font-family: 'Segoe MDL2 Assets';
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

// BD public
#bd-pub-li {
  height: $guilds-height !important;

  .guildInner-3DSoA4 {
    height: $guilds-height !important;
  }
}
#bd-pub-button {
  font-size: 0 !important;
  line-height: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &::before {
    .theme-dark & {
      color: #ffffff;
    }
    .theme-light & {
      color: #000000;
    }

    font-family: 'Segoe MDL2 Assets';
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

// Read All Notifications plugin by DevilBro
#RANbutton-frame {
  height: $guilds-height !important;
  width: $guilds-width !important;
  margin-top: $guilds-separator;
  margin-bottom: 0 !important;

  & + .guildSeparator-1X4GQ1 {
    margin-bottom: 0;
  }
  .guildInner-3DSoA4 {
    height: $guilds-height !important;
    width: $guilds-width !important;
  }

  #RANbutton {
    font-size: 0 !important;
    line-height: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &::before {
      .theme-dark & {
        color: #ffffff;
      }
      .theme-light & {
        color: #000000;
      }

      font-family: 'Segoe MDL2 Assets';
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}

// ServerSearch plugin by Zerebos
#server-search {
  margin-top: 0;
  margin-bottom: 0;

  & + #RANbutton-frame {
    margin-top: 0 !important;
  }
  & + .guildSeparator-1X4GQ1 {
    margin-bottom: 0;
  }

  .avatar-search {
    background-image: none;
    font-size: 0 !important;
    line-height: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &::before {
      .theme-dark & {
        color: #ffffff;
      }
      .theme-light & {
        color: #000000;
      }

      font-family: 'Segoe MDL2 Assets';
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}
