#app-mount {
  .layer-3QrUeG {
    opacity: 1 !important;
    transform: none !important;

    &.stop-animations {
      .base-3dtUhz, .headerBar-UHpsPw { visibility: hidden; }
    }
    & + .layer-3QrUeG {
      margin-left: $guilds-width;
      overflow: visible;
    }
  }
}

::-webkit-input-placeholder, body, button, input, select, textarea {
  font-family: 'Segoe UI', 'Segoe UI Emoji';
}