.ui-standard-sidebar-view {
  display: flex;
  flex-direction: row;

  .content-region, .scrollerWrap-2lJEkd {
    position: unset;
  }

  .tools, .content-region-scroller .tools,
  .tools-container, .content-region-scroller .tools-container {
    width: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .custom-column {
    position: relative;
    max-width: unset;
    margin-right: -71px;
  }
}

.closeButton-1tv5uR {
  background-color: transparent !important;
  cursor: default;
  height: 100%;
  width: $guilds-width;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -$guilds-width;
  z-index: 1001;

  svg {
    display: none;
  }
}
.keybind-KpFkfr {
  display: none;
}

.ui-standard-sidebar-view .sidebar-region {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  justify-content: flex-start;
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
  justify-content: flex-start;
  width: 320px;

  .sidebar {
    width: 100%;
    padding: 0 0 84px 0;
  }
}

.side-8zPYf6 .header-2RyJ0Y, .ui-tab-bar-header {
  .theme-dark & {
    background-color: $theme-dark;
    color: $theme-dark-blurb;
  }
  .theme-light & {
    background-color: $theme-light;
    color: $theme-light-blurb;
  }

  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  cursor: default;
  display: flex;
  align-items: center;
  height: 48px;
  margin-top: 16px;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 6;

  &:first-child {
    margin-top: 0;
  }
}
.category-2ux-7P {
  opacity: .8;
  font-size: inherit;
  font-weight: normal;
  margin-left: 12px;
}

.side-8zPYf6 .item-PXvHYJ, .ui-tab-bar-item {
  .theme-dark & {
    color: #ffffff;

    &:hover {
      color: #ffffff;
    }
  }
  .theme-light & {
    color: #000000;

    &:hover {
      color: #000000;
    }
  }

  cursor: default;
  display: flex;
  align-items: center;
  height: 48px;
  margin: 0;
  padding: 0 16px;
  border-radius: 0;

  &::after {
    background-color: transparent;
    transform: translateY(-50%);
    transition: none;
    pointer-events: none;
    content: '';
    display: block;
    width: 5px;
    margin-top: 0;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
  }
  &.itemSelected-1qLhcL, &.selected {
    color: $accent-color !important;
    background-color: transparent !important;

    &::after {
      background-color: $accent-color;
      opacity: 1;
      height: 25px;
    }
  }

  &.selected-3s45Ha, &.notSelected-1N1G5p, &.selected {
    .theme-dark & {
      &:hover {
        background-color: $theme-dark-hover !important;
      }
      &:active {
        background-color: $theme-dark-active !important;
      }
    }
    .theme-light & {
      &:hover {
        background-color: $theme-light-hover !important;
      }
      &:active {
        background-color: $theme-light-active !important;
      }
    }
  }

  // Icons
  &::before {
    font-family: 'Segoe MDL2 Assets';
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
}

.side-8zPYf6 .separator-gCa7yv, .ui-tab-bar-separator {
  background-color: transparent !important;

  display: none;
  height: 0;

  margin: 0;
}

.socialLinks-3jqNFy {
  padding: 10px 16px;
}

// EnhancedDiscord
.ed-settings + .separator-gCa7yv {
  display: block;
  margin-top: 16px;
}