.missingAccess-3szpts {
  .theme-dark & {
    background-color: $theme-dark-bg;
  }
  .theme-light & {
    background-color: $theme-light-bg;
  }

  display: flex;
  flex-direction: column;

  &::before {
    content: ':(';
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  &::after {
    font-size: 1rem;
    white-space: pre-wrap;
    text-align: center;
    content: 'Oops! You don\'t have access to the Store!\aTry again later, maybe you\'ll get it next time!\a\aHow did you even get here anyway?';
  }

  &::before, &::after {
    .theme-dark & {
      color: $theme-light-bg;
    }
    .theme-light & {
      color: $theme-dark-bg;
    }
  }

  .embedVideo-3nf0O9 {
    display: none;
  }
}


.applicationStore-1pNvnv {
  .theme-dark & {
    background-color: $theme-dark-bg;
  }
  .theme-light & {
    background-color: $theme-light-bg;
  }

  .headerBar-UHpsPw {
    height: auto;
    padding: 20px;

    .flex-1xMQg5 {
      margin: -20px 0;
    }
  }
  .title-1aVOXw, .titleName-2Z2SHw {
    font-size: 21px;
    font-weight: normal;
    line-height: normal;
  }
}

.headerTitle-3TLQ7P {
  font-size: 21px;
  font-weight: normal;
  line-height: normal;
}
.headerPurchase-2z_nch {
  .theme-dark & {
    color: $theme-light-bg;
    border-right-color: $theme-dark-outline;
  }
  .theme-light & {
    color: $theme-dark-bg;
    border-right-color: $theme-light-outline;
  }

  transform: none;
  opacity: 0;
  transition: opacity .2s ease;
  margin: -3px 0;
  border-right: 1px solid transparent;

  &.active-MpmWDn {
    opacity: 1;
  }
}

.back-v_LyjN {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  opacity: 1;
  margin-bottom: -2px;

  &:hover {
    opacity: 1;
  }
}


// Carousel
.carouselItem-3UIHqv {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }
}
.itemBackground-1jfD8p {
  opacity: .25;

  &::before {
    display: none;
  }
}
.featuredGame-ia1yht {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  user-select: none;
  cursor: default;
}
.title-RcZEhJ {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  margin-top: 2px;
  margin-bottom: 8px;
}
.itemDescription-1_B4j2 {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }
}


// Purchase body
.body-1CAT0- {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }

  border-radius: 0;
}
.actionText-3EKWER {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
}
.purchaseUnitOperatingSystem-cnbJPz {
  .theme-dark & {
    color: lighten($theme-dark-blurb, 16%);
  }
  .theme-light & {
    color: darken($theme-light-blurb, 16%);
  }
}
.price-4PDWNj {
  .theme-dark & {
    color: lighten($theme-dark-blurb, 32%);
  }
  .theme-light & {
    color: darken($theme-light-blurb, 32%);
  }
}

.shineContainer-1HHuZ1 {
  display: none;
}

.headerFancy-1AcCLF {
  .theme-dark &, .theme-light & {
    background-color: #7289da;
    background-image: none;
  }

  border-radius: 0;
}
.premiumHeaderIcon-bTc_nQ {
  margin-bottom: -1px;
}

// Rating
.card-NB61oR {
  .theme-dark & {
    background-color: $theme-dark;
    color: $theme-dark-blurb;
  }
  .theme-light & {
    background-color: $theme-light;
    color: $theme-light-blurb;
  }

  border-radius: 0;
}
.score-3d03_j {
  color: $theme-light-bg;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;

  &[style="flex: 0 0 auto; background-color: rgb(102, 204, 51);"] {
    background-color: #33661a !important;
  }
  &[style="flex: 0 0 auto; background-color: rgb(255, 204, 51);"] {
    background-color: #80661a !important;
  }
}
.verdict-1JnQka {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}


// Review
.bubble-1gL_TN {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }

  border-radius: 0;

  &::after {
    transform: none;
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.bubbleLeft-1yuG1e {
    &::after {
      .theme-dark & {
        border-top-color: $theme-dark;
      }
      .theme-light & {
        border-top-color: $theme-light;
      }

      border-width: 24px 22px 0 0;
      right: -22px;
    }
  }
}
.reviewContent-2sGcOc {
  .theme-dark & {
    color: lighten($theme-dark-blurb, 24%);
  }
  .theme-light & {
    color: darken($theme-light-blurb, 24%);
  }
}
.reviewAuthor-h_z6TM {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}


// Description
.blurb-1iBKJy {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  font-size: 21px;
  font-weight: normal;
  line-height: normal;
}
.description-1AwRKJ {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;

  .title-3KTIjF:first-child {
    display: none;
  }
}

.assetWrapper-2Qw_5D {
  .theme-dark &, .theme-light & {
    background-color: transparent;
  }

  border-radius: 0;
}

h1.title-3KTIjF {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  font-size: 21px;
  font-weight: normal;
  line-height: normal;
  cursor: default;
}
h3.title-3KTIjF {
  .theme-dark & {
    color: lighten($theme-dark-blurb, 32%);
  }
  .theme-light & {
    color: darken($theme-light-blurb, 32%);
  }

  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  cursor: default;
  user-select: none;

  .description-1AwRKJ & {
    .theme-dark & {
      color: lighten($theme-dark-blurb, 16%);
    }
    .theme-light & {
      color: darken($theme-light-blurb, 16%);
    }
  }
}
h4.title-3KTIjF {
  .theme-dark & {
    color: lighten($theme-dark-blurb, 8%);
  }
  .theme-light & {
    color: darken($theme-light-blurb, 8%);
  }

  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  cursor: default;
  user-select: none;
}

.divider-21LyPb {
  .theme-dark & {
    border-bottom-color: darken($theme-dark-outline, 32%);
  }
  .theme-light & {
    border-bottom-color: lighten($theme-light-outline, 32%);
  }

  border: 0;
  border-bottom: 1px solid transparent;
}


// Server invite
.content-35aVm0 {
  .theme-dark & {
    background-color: $theme-dark;
  }
  .theme-light & {
    background-color: $theme-light;
  }

  border-radius: 0;
}

.guildIcon-3du51s {
  border-radius: 50%;
}
.name-3TBxUq {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.memberInfo-1TAaKC {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }

  font-size: 12px;
  font-weight: normal;
  line-height: normal;
}

// Side info
.row-1bU71H {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }

  border-bottom: 0;
}

.info-1Emy1X {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }
}
.label-13UUcd {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}

// Requirements
.requirements-dEriwm {
  .theme-dark & {
    color: $theme-light-bg;
  }
  .theme-light & {
    color: $theme-dark-bg;
  }
}
.requirementKey-14DT2D {
  .theme-dark & {
    color: $theme-dark-blurb;
  }
  .theme-light & {
    color: $theme-light-blurb;
  }
}

// Legal stuff
.content-3FEARf {
  .theme-dark & {
    color: lighten($theme-dark-blurb, 16%);
  }
  .theme-light & {
    color: darken($theme-light-blurb, 16%);
  }

  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
