.sizeMin-1mJd1x, .sizeSmall-2cSMqn, .sizeMedium-1AC_Sl, .sizeLarge-1vSeWK {
  .theme-dark & {
    color: #ffffff;
    background-color: $theme-dark !important;

    &:hover {
      background-color: $theme-dark !important;
      border-color: $theme-dark-active !important;
    }
    &:active {
      background-color: $theme-dark-active !important;
      border-color: transparent !important;
    }

    &:disabled {
      color: $theme-dark-blurb;
    }
  }
  .theme-light & {
    color: #000000;
    background-color: $theme-light !important;

    &:hover {
      background-color: $theme-light !important;
      border-color: $theme-light-active !important;
    }
    &:active {
      background-color: $theme-light-active !important;
      border-color: transparent !important;
    }

    &:disabled {
      color: $theme-light-blurb;
    }
  }

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  opacity: 1;
  transition: transform .125s ease;
  cursor: default !important;
  height: 33px;
  min-height: unset;
  width: auto;
  min-width: unset;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 0;
  border: 2px solid;
  border-color: transparent !important;

  &:hover {
    text-decoration: none;

    .contents-18-Yxp {
      background-image: none !important;
    }
  }
  &:active {
    transform: scale(0.99);
    transition: none;
  }

  &:disabled {
    opacity: 1;
    pointer-events: none;
  }

  & + & {
    .directionRowReverse-m8IjIq & {
      margin-right: 8px;
    }
  }
}