.input-cIJ7To {
  .theme-dark & {
    color: $theme-light-bg;
    border-color: $theme-dark-hover;
  }
  .theme-light {
    color: $theme-dark-bg;
    border-color: $theme-light-hover;
  }

  background-color: transparent;
  transition: none;
  border: 2px solid transparent;
  border-radius: 0;

  &:hover {
    .theme-dark & {
      border-color: $theme-dark-active;
    }
    .theme-light & {
      border-color: $theme-light-active;
    }
  }
  &:focus {
    color: $theme-dark-bg;
    background-color: $theme-light-bg;
    border-color: $accent-color !important;
  }

  &::selection {
    color: $theme-light-bg;
    background-color: $accent-color;
  }
  &::placeholder {
    .theme-dark & {
      color: $theme-dark-blurb;
    }
    .theme-light & {
      color: $theme-light-blurb;
    }
  }
}
